.sidebar {
    background-color: #000;
    color: #fff;
    height: auto;

    &-heading {
        padding: 10px;
    }

    & .nav-link {
        color: #fff;

        &:hover {
            color: #ccc;
        }
    }

    & .nav-item:not(:last-child) {
        margin-bottom: 10px;
    }

    & .nav-divider {
        border-top: 1px solid #ccc;
        margin: 10px 0;
    }

    & .user-profile {
        position: absolute;
        top: 10px;
        right: 10px;

        img.profile-image {
            width: 40px; /* Adjust image width */
            height: 40px; /* Adjust image height */
        }
    }
}

.overview {
    position: absolute;
    top: 17px;
    right: 1250px;
    font-size: 20px;
}

.card-subtitle {
    font-size: 40px; /* Increase subtitle size */
}

.card-title {
    color: rgb(180, 178, 178);
    font-size: 12px;
    margin-top: 20px;
}

.row-gap {
    margin-bottom: 20px;
}

.box, .side-box, .main-container, .half-container {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;

    &.box {
        padding: 10px;
    }

    & .side-box div {
        text-align: center;
        width: 100%;
    }
}

.main-container {
    margin-right: 0;
}

.hide-text {
    visibility: hidden;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 50%;
}

.custom-control-label::before {
    background-color: white;
    border-color: #bababa;
    border-radius: 50%;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark:after {
    content: "\002B";
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
}

.view-all-blue {
    color: rgb(74, 74, 244);
}

.flex-container {
    height: auto;
}

.side-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle-wrapper {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.subtitle {
    vertical-align: middle;

    span {
        position: relative;
    }
}